

body {
    background: url(../imagenes/cubes.png);
}

#contenedor {
    margin-top: 80px;
    margin-bottom:200px;
    
}

#uno {
    background-color: rgb(208, 208, 219);
    padding: 10px;
   
}

#dos{
   
    padding-left:50px;
    padding-right:50px; 
    padding-top:20px; 
    
}

.tres {
    border: 1px solid;
    max-width: 300px;
    font-size: small;
}

.cartas {
    margin: 5px;
}

#pie {
    color: white;
    background-color: black;

}
.alerta{
    margin:10px;
    padding:8px;
}